<header>

<nav>   
  <div>
  
      <button><i class="fas fa-phone"></i> <strong>CONTACT US</strong>  0430 929 121</button>
      
  </div>   
  <div>
      <img  src="../../assets/images/Leos-Locksmiths-Logo.svg">
  </div> 

  <div>
      <span class="open-slide">
              
                      <i class="fas fa-bars" style="font-size: 35px;  margin-top: -90px; margin-left: 43px; padding: 15px 5px;"></i>
              
      </span>

      <ul class="navbar-nav">
              <li><a routerLink="/">HOME</a></li>
              <li><a routerLink="/service">SERVICE</a></li>
              <li><a routerLink="/contact">LOCATION</a></li>
              <li><a routerLink="/contact">CONTACT</a></li>
              <li><a routerLink="#">GALLERY</a></li>
      </ul>      
      <!-- <div id="side-menu" class="side-nav">
              <a href="#" class="btn-close"
                 onclick="closeSlideMenu()"
                 style="color: white;"
              >&times;</a>
              <ul >
                      <li>ABOUT</li>
                      <li>SERVICE</li>
                      <li>LOCATION</li>
                      <li>CONTACT</li>
                      <li>GALLERY</li>
              </ul>
           
      </div>  -->
  </div>
  

</nav>
</header>

