<div class="container-fluid" style=" background-color: gray;" >

    <div class="garrlay">
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    <div><img  src="../../assets/images/Leo's-Locksmiths-Icon.svg"></div>
    </div>
 </div>

<footer>
  <div class="container-fluid" style="width: 80%;">
      <img  src="./../../assets/images/Leo's-Locksmiths-Icon.svg">
      <p class="footerCopyRight"><span>LEO'S LOCKSMITHS PHONE</span> 0430 929 121 <span>EMAIL</span> leoslocksmiths@gmail.com <a href=""><i class="fab fa-instagram"></i></a> </p>  
      <small>Copyright Leo’s Locksmiths 2019. Website developed by FreshPict.</small>
 
     
  </div>

  <div>

  </div>
</footer>