<hr>
<div class="container-fluid" style="z-index: -1; padding-top: 40px;">
    <div class="row">
      <div class="col" style="margin: 60px 6%;">
          <h1 >LOCATIONS</h1>
          <p></p>
          <!-- <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="410" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div> -->
          <iframe src="https://www.google.com.au/maps/d/embed?mid=1LKQ19WsCf7l00tmVqZrmyFg_6TZ2dBSf" width="100%" height="515" ></iframe>
      </div>
    
      <div class="col" style="background-color: rgb(216, 216, 216); padding: 60px 6%">
              <h1>CONTACT</h1>
              <h5><span>PHONE</span> 0430 929 121  <span>EMAIL</span> leoslocksmiths@gmail.com</h5>
    
              <form [formGroup]="form" (submit)="onSaveMessage()" >
                      <div class="form-group row justify-content-center mt-4">
                        <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label> -->
                        <div class="col-sm-10">
                          <input 
                              type="text" 
                              class="form-control" 
                              formControlName="name" 
                              placeholder="CUSTOMER NAME">
                                <div class="alert alert-warning" role="alert" *ngIf="form.get('name').invalid && form.get('name').touched">
                                    Please enter your name !
                                </div>                    
                           </div>
                      </div>
                      <div class="form-group row justify-content-center">
                        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                        <div class="col-sm-10">
                          <input 
                              type="text" 
                              class="form-control" 
                              formControlName="address"
                              placeholder="CUSTOMER’S SUBURB">
                              <div class="alert alert-warning" role="alert" *ngIf="form.get('address').invalid && form.get('address').touched">
                                  Please enter your address !
                              </div>   
                        </div>
                      </div>
                      <div class="form-group row justify-content-center">
                              <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                              <div class="col-sm-10">
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    formControlName="email"
                                    placeholder="EMAIL SUBJECT">
                                    <div class="alert alert-warning" role="alert" 
                                          *ngIf="form.get('email').invalid && form.get('email').touched ">
                                        Please enter your email !
                                    </div>  
                              </div>
                      </div>
                      <div class="form-group row justify-content-center">
                              <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                              <div class="col-sm-10">
                                      <label><strong>MESSAGE</strong></label>
                                      <textarea 
                                          class="form-control" 
                                          formControlName="messages"
                                          placeholder="Messages"
    
                                        ></textarea>   
                                        <div class="alert alert-warning" role="alert" *ngIf="form.get('messages').invalid && form.get('messages').touched ">
                                            Please enter your messages !
                                        </div>                          
                                </div>
                      </div>
                     
                     
                      <div class="form-group row justify-content-center">
                        <div class="col-sm-10">
                            <div>
                                <button class="formPickupImgBtn"  type="button" (click)="filePicker.click()">Pick Image</button>
                                <input type="file" #filePicker (change)="onImagePicked($event)">
                            </div>
                            <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview && form.get('image').valid">
                                <img [src]="imagePreview" [alt]="form.value.title"> 
                            </div>
                          <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck1">
                            <label class="form-check-label" for="gridCheck1">
                                  UPLOAD PHOTOS                              
                            </label>
                          </div>  -->
                        </div>
                      </div>
                      
                      <div class="form-group row justify-content-center">
                        <div class="col-sm-10">
                          <button type="submit" class="btn formSubmitBtn">SUBMIT FORM</button>
                        </div>
                      </div>
              </form>
    
      </div>
    
    </div>
    
    
    </div>
