<div class="SecTwo" style="margin-top: 18px;">
    <div class="container-fluid" style="width: 80%; padding:  120px 20px;" >
    
              <h2 style="margin-left: 0; font-weight: 700;">SERVICES</h2>
                  <div class="row" >
                      <div class="col  col-sm-6">
                              <h4>OPENING HOUSE DOORS</h4>
                              <h6>Gain entry to premises when keys are lost or left inside, ID check required. Locksmithing skills are applied for
                                      a quick, smooth and no-damage opening except for extreme situations.</h6>
                      </div>
                      <div class="col col-sm-6">
                              <h4>OPENING CAR DOORS</h4>
                              <h6>Gain entry to cars when keys are lost or left inside, often left in ignition lock or boot. Car lock opening skills are applied to avoid or minimize any forcing on car doors.</h6>
                      </div>
                  </div>
    
                  <div class="row">
                          <div class="col col-sm-6" >
                                  <h4>ALTERING LOCKS</h4>
                                  <h6>Change the cylinders of locks with new keys in order to stop the old keys working.</h6>
                          </div>
                         
                          <div class="col  col-sm-6">
                              <h4>CAR KEYS DUPLICATING, GENERATING AND PROGRAMMING</h4>
                              <h6>We supply car keys including plan keys, transponder keys and transponder remote keys. They vary from blade keys to foldable flip keys. A spare transponder key can become a day saver. Either you already have a working key or lose all keys, we can help generate a key and it starts the engine.</h6>
                          </div>
                  </div>
    
                  <div class="row">
                          <div class="col  col-sm-6">
                                  <h4>LOCK INSTALLATION AND REPAIRING</h4>
                                  <h6>We fit locks supplied both by us and customers. As for broken locks we provide professional advice followed by new solutions or repairing.</h6>
                          </div>
                         
                          <div class="col col-sm-6">
                              <h4>ALTERING AND REPAIRING CAR LOCKS</h4>
                              <h6>Broken door or ignition locks can be a nightmare. They jam keys in it or not turn on the engine. We can help rebuild or replace door or ignition locks and alter them to your existing working keys.</h6>
                          </div>
                  </div>
                  <div class="row">
                          <div class="col col-sm-6">
                                  <h4>ANTIQUE LOCK REFURNISHING</h4>
                                  <h6>If you have an old, rare or odd-looking lock to restore, repair or make a key to, we definitely can help you by delicate, specialized and creative skills to meet your specific requirements.</h6>
                          </div>
                         
                      
                  </div>
                              
      </div>      
    </div>    
    
